.titleLink {
    text-decoration: none;
}
.titleLink:link {
    color: black;
}
.titleLink:visited {
    color: black;
}
.titleLink:active {
    color: black;
}
.titleLink:hover {
    color: black;
}

.menuDiv {
    float: left;    
    display: block;
    width: 180px;
    margin-left: 10px;
}

.menuLink {
    font-size: 20px;
}

.menuSubLink {
    padding-left: 15px;
    font-size: 15px;
}